<!DOCTYPE html>
{% extends 'my_app/home.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}


<table class="table table-dark table-striped">
  <tr>
    <th>ID</th>
    <th>name</th>
    <th>age</th>
    <th>address</th>

  </tr>
    {% for person in persons %}

    <tr>
      <td><a href="{% url 'update_person' pk=person.id %}">
    {{person.id }}
    </a></td>
      <td>{{ person.user.username }}</td>
      <td>{{ person.age  }}</td>
      <td>{{ person.address }}</td>
</tr>

  {% endfor %}
</table>

{% endblock content %}

</body>
</html>
